<h1>User Profile</h1>
<div>
  <div class="user-profile">
    <div> <%= image_tag @user.photo, alt: "picture of user", style: "width: 50px; height: 50px;" %> </div>
    <h2> <%= @user.name %> </h2>
    <p> Posts Counter: <%= @user.posts_counter %> </p>
  </div>

  <div> Bio: <br> <%= @user.bio %> </div>

  <ul>
    <% @user.recent_posts.includes(:comments).each_with_index do |post, index| %>
      <li>
        Post #<%= index + 1 %> <br>
        <%= link_to post.title, user_post_path(@user, post) %>
        <br>
        Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
      </li>
    <% end %>
  </ul>

  <button>
    <%= link_to 'See all Posts', user_posts_path(@user) %>
  </button>
</div>
