<img src="<%= @user.photo %>" alt="picture of user" style="width: 50px; height: 50px;">
<h1><%= @user.name %></h1>
Number of posts: <%= @user.posts_counter %>

<ul>
  <% @user.posts.includes(:comments).each_with_index do |post, index| %>
    <li class="post-item" data-post-id="<%= post.id %>">
      Post #<%= index + 1 %> <br><br>
      <%= link_to post.title, user_post_path(@user, post) %>
      <br>
      <p> <%= post.text %> </p>
      Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>

      <ul>
        <% post.recent_comments.includes(:user).each do |comment| %>
          <li><%= @user.name %>: <%= comment.text %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<button class="pagination">
  <%= link_to 'New Post', new_user_post_path(@user) %>
</button>
